.home{
  background: url(../img/capitol.png)no-repeat center fixed;
  height: 672px;
  width: 100%;
  background-size: cover;
  margin: auto;
  overflow: hidden;
}
.landing-text{
  margin-top: 15%;
  text-align: center;
  color: white;

}
.nav-item{
  padding-right: 30px;
}
.card i{
  font-size: 100px;
}
.col-lg-4, sm-12{
  margin-top: 20px;
}
.footer{
  background: #454545;
  color: white;
  margin-top: 20px;
  width: 100%;
}
#container{
  margin-top: 30px;
  margin-bottom: 30px;
}
#about{
  margin-top: 100px;
  text-align: center;
}
.about{
  background: #969696;
}
#services{
  margin-top: 100px;
}
.card-deck{
  margin-top: 100px;
  margin-bottom: 142px;
}
#navbar li, a{
  font-size: 20px;
}
#contact{
  margin-top: 120px;
}
#address{
  margin-top: 30px;
  text-align: center;
}
.bttn{
  text-align: center;
  margin-bottom: 20px;
}
/* media screens movile phone screens*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
.home h1{
  font-size: 50px;
}
.home{
  height: 520px;
}
.landing-text{
  margin-top: 30%;
}
}
