/* *{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  width: 100%;
  overflow-x: hidden;
} */
/* body{
  margin-left: 0px !important;
   margin-right: 0px !important;
} */
.row{

}
.home{
  background: url(../img/capitol.png)no-repeat center center fixed;
  display: table;
  height: 672px;
  width: 100%;
  background-size: cover;
  overflow-x: hidden;
}
.landing-text{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}
.nav-item{
  padding-right: 30px;
}
.card i{
  font-size: 100px;
}
.footer{
  background: #454545;
  color: white;
  margin-top: 20px;
  width: 100%;
}
#about{
  margin-top: 100px;
  text-align: center;
}
.about{
  background: #969696;
}
#services{
  margin-top: 100px;
}
.card{
  margin-top: 30px;
}
#container{
  margin-bottom: 30px;
}
.card-deck{
  margin-top: 100px;
  margin-bottom: 142px;
}
